version: '3.8'

services:
  app:
    build: .
    container_name: ip-collector
    restart: always
    ports:
      - "3000:8080"
    environment:
      - PORT=8080
      - COLLECTOR_TOKEN=${COLLECTOR_TOKEN:-default_token_change_me}
      - STORAGE_TYPE=${STORAGE_TYPE:-local}
      - LOCAL_DATA_DIR=/usr/src/app/data
      - MAX_RUNS_PER_IP_PER_DAY=${MAX_RUNS_PER_IP_PER_DAY:-3}
      - MIN_GAP_HOURS_PER_IP=${MIN_GAP_HOURS_PER_IP:-7}
      - RETENTION_HOURS=${RETENTION_HOURS:-24}
      - DISCORD_WEBHOOK_URL=${DISCORD_WEBHOOK_URL}
      # - HMAC_SECRET=...
    volumes:
      - ./data:/usr/src/app/data
